services:
  prod-web:
    container_name: prod-web
    build:
      context: ./apps/web
      dockerfile: Dockerfile.prod
    env_file:
      - .env.production
    ports:
      - "4000:4000"
    depends_on:
      - prod-cms
    restart: unless-stopped
    environment:
      - NODE_ENV=production

  prod-cms:
    container_name: prod-cms
    build:
      context: ./apps/cms
      dockerfile: Dockerfile.prod
    env_file:
      - .env.production
    ports:
      - "4001:1337"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
