services:
  staging-web:
    container_name: ${WEB_CONTAINER_NAME:-staging-web}
    build:
      context: ./apps/web
      dockerfile: Dockerfile.prod
    env_file:
      - ./apps/web/.env.staging
    ports:
      - "4200:4000"
    depends_on:
      - staging-cms
    restart: unless-stopped
    environment:
      - NODE_ENV=production

  staging-cms:
    container_name: ${CMS_CONTAINER_NAME:-staging-cms}
    build:
      context: ./apps/cms
      dockerfile: Dockerfile.prod
    env_file:
      - ./apps/cms/.env.staging
    ports:
      - "4201:1337"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - ${PROD_DB_HOST_PATH:-./apps/cms/database}:/app/database
      - ${PROD_UPLOADS_HOST_PATH:-./apps/cms/public/uploads}:/app/public/uploads