services:
  staging-web:
    container_name: staging-web
    build:
      context: ./apps/web
      dockerfile: Dockerfile.prod
    env_file:
      - .env.staging
    ports:
      - "4200:4000"
    depends_on:
      - staging-cms
    restart: unless-stopped
    environment:
      - NODE_ENV=production

  staging-cms:
    container_name: staging-cms
    build:
      context: ./apps/cms
      dockerfile: Dockerfile.prod
    env_file:
      - .env.staging
    ports:
      - "4201:1337"
    restart: unless-stopped
    environment:
      - NODE_ENV=production