services:
  prod-web:
    container_name: ${WEB_CONTAINER_NAME:-prod-web}
    build:
      context: ./apps/web
      dockerfile: Dockerfile.prod
      args:
        NEXT_PUBLIC_UMAMI_WEBSITE_ID: ${NEXT_PUBLIC_UMAMI_WEBSITE_ID}
        NEXT_PUBLIC_UMAMI_SCRIPT_URL: ${NEXT_PUBLIC_UMAMI_SCRIPT_URL}
    env_file:
      - ./apps/web/.env.production
    ports:
      - "4000:4000"
    depends_on:
      - prod-cms
    restart: unless-stopped
    environment:
      - NODE_ENV=production

  prod-cms:
    container_name: ${CMS_CONTAINER_NAME:-prod-cms}
    build:
      context: ./apps/cms
      dockerfile: Dockerfile.prod
    env_file:
      - ./apps/cms/.env.production
    ports:
      - "4001:1337"
    restart: unless-stopped
    environment:
      - NODE_ENV=production
    volumes:
      - ${PROD_DB_HOST_PATH:-./apps/cms/database}:/app/database
      - ${PROD_UPLOADS_HOST_PATH:-./apps/cms/public/uploads}:/app/public/uploads