@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: #e7e2db;
    --foreground: #242018;
    --card: #0A0A0A;
    --primary: #bbbb9a;
    --primary-foreground: #242018;
    --secondary: #424f16;
    --secondary-foreground: #e7e2db;
    --muted: #222B3A;
    --muted-foreground: #bbbb9a;
    --ring: #424f16;
  }

  .dark {
    --background: #242018;
    --foreground: #e7e2db;
    --card: #0A0A0A;
    --primary: #424f16;
    --primary-foreground: #e7e2db;
    --secondary: #bbbb9a;
    --secondary-foreground: #242018;
    --muted: #222B3A;
    --muted-foreground: #bbbb9a;
    --ring: #424f16;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-ring: var(--ring);

  --font-sans: var(--font-bebas-neue);
  --font-mono: "IBM Plex Mono", monospace;
}

html {
scroll-behavior: smooth;
}

/* 
* {
outline: 1px solid red;
} */